<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>320</integer>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>title</key>
				<string>运动员里尽有这么美好的肉体</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>170</integer>
				<key>title</key>
				<string>收获一大堆表情包（跪谢傅爷恩惠）</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>156</integer>
				<key>title</key>
				<string>吴敏霞有这么帅男票</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>115</integer>
				<key>title</key>
				<string>气枪的靶这么小（跟个啤酒瓶底差不多）</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>266</integer>
				<key>title</key>
				<string>记者越来越不好当</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>88</integer>
				<key>title</key>
				<string>原来办奥运会可以这么省</string>
			</dict>
			<dict>
				<key>totalVotes</key>
				<integer>700</integer>
				<key>isselected</key>
				<false/>
				<key>isvote</key>
				<false/>
				<key>votes</key>
				<integer>210</integer>
				<key>title</key>
				<string>男神的最低标准是会游泳</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
